body {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1;
}

textarea {
    color: black;
    border: none;
    border-left: 2px solid black;
    resize: none;
    padding: 10px;
    background: transparent;
}

.jumbotron {
    color: cornflowerblue;
    background-color: transparent;
    text-align: center;
    border-radius: 0;
    border-bottom: 9px solid black;
}

.time-block {
    text-align: center;
    border-radius: 10px;
}

.description {
    white-space: pre-wrap;
}

.hour {
    color: black;
    background-color: grey;
    border-top: 1px solid black;
}

.row {
    white-space: pre-wrap;
    border-top: 1px solid cornflowerblue;
    height: 80px;
}

.past {
    background-color: whitesmoke;
    color: white;
  }
  
  .present {
    background-color: hsla(3, 69%, 38%, 0.904);
    color: white;
  }
  
  .future {
    background-color: blue;
    color: white;
  }

  .saveBtn {
      color: whitesmoke;
      background-color:cornflowerblue;
      border-left: 1px solid black;
      border-top-right-radius: 14px;
      border-bottom-right-radius: 14px;
  }

  .saveBtn i:hover {
      font-size: 20px;
      

  }